.slider-bg{
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-position:center center;
}
.slide-1{background-image: url('https://www.babycare.com.bd/image/cache/catalog/0000000000%20SUMAIA/0000000000DUCK/Duck-babycare-banner-desktop-1600x500.jpg');}
.slide-2{background-image: url('https://www.babycare.com.bd/image/cache/catalog/0000000000%20SUMAIA/0000000000DUCK/fisher-price%20banner%20desktop-1600x500.jpg');}
.slide-3{background-image: url('https://www.babycare.com.bd/image/cache/catalog/00000001/Banner%20Web%20011-1600x500.jpg');}
.slide-4{background-image: url('https://www.babycare.com.bd/image/cache/catalog/00000001/Web%20Banner%201600-500-1600x500.jpg');}
.slide-5{background-image: url('https://www.babycare.com.bd/image/cache/catalog/05-01-2020/babycare-brands-desktop-1600x500-1600x500.jpg');}
.slider-box{
    position: relative;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    right: 0;
    text-overflow: inherit;
}
.slick-dots {
    bottom: 12%;
}
.slick-dots li.slick-active button::before{
    color: white;
    font-size: 18px;
    opacity: 1;
}
.slick-dots li button::before{
    color: red;
    opacity: .6;
    font-size: 14px;
}